<!DOCTYPE html>
<html>
<head>
    <title>Crear Producto</title>
    <link rel="stylesheet" href="/static/productos/admin_update.css">
</head>
<body>
    <div class="header">
        <form action="{% url 'admin-productos-list' %}" method="get" style="margin:0;">
            <button type="submit" class="btn-create">Volver a la lista</button>
        </form>
        <h1>Crear Producto</h1>
    </div>
    <form method="post" class="form-update">
        {% csrf_token %}
        <label>Nombre:</label>
        <input type="text" name="nombre" required>
        <label>Descripción:</label>
        <textarea name="descripcion"></textarea>
        <label>Precio:</label>
        <input type="number" step="0.01" name="precio" required>
        <label>Stock:</label>
        <input type="number" name="stock" required>
        <label>Activo:</label>
        <input type="checkbox" name="activo" checked>
        <label>Link Imagen:</label>
        <input type="url" name="link_imagen">
        <button type="submit" class="btn-create">Crear</button>
    </form>
</body>
</html>
